
@{
    ViewBag.Title = "Búscar músicos";
    //Layout = "~/Views/_ViewStart.cshtml";
}

<div class="">
    <!--panel panel-default-->
    @*<div class="panel-heading">
        <h3 class="panel-title">Buscar músicos en: Uruguay</h3>
    </div>*@

    <p class="lead">Buscando músicos en: Uruguay</p>

    <div class="list-group col-lg-12">
        @*<a href="#" class="list-group-item">
                <h5 class="list-group-item-heading">Título del elemento de la lista</h5>
                <p class="list-group-item-text">Id</p>
            </a>
        *@
        <ul class="list-inline">
            <li class="col-md-3">Id</li>
            <li class="col-md-3">Nombre usuario</li>
            <li class="col-md-3">Ciudad</li>
            <li class="col-md-3">Instrumento</li>
        </ul>

    </div>
</div>